/* home.module.css */

/* Flex container for centering content */
.container {
   display: flex; 
   background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    height: 92vh; 
  }
  /* .home-left{
    background-color: red;
    width: 50%;
    margin-left: 7rem;
  } */

  .home-left {
    
    width: 50%;
    /* margin-left: 4.8rem; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: red; */
  }
  .left-content {
    margin-top: 50px; /* Reduced margin for better fit on smaller screens */
   /* Adjust height for responsiveness */
    width: 100%; /* Full width for smaller screens */
    /* height: 100%; */
    /* max-width: 500px; */
    margin-left: 7rem;
    /* background-color: green; */
  }

  .left-content p{
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  /* Main heading */
  .heading {
    font-size: 3rem; /* Equivalent to text-4xl */
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem; /* Equivalent to mb-4 */
    /* margin-left: 7rem; */
   
  }
  
 /* link/btn styling */

  .btn{
    /* padding: 0.5rem 1rem;
    background-color: #ff8700;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    gap: 40px; */

    
    padding: 16px 36px;
    color: #fff;
    background-color: #ff8700;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: transform 250ms;
  }

  .btn:hover {
    box-shadow: 0.5em 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
  }
  

  .buttons{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    
  }