

.container {
    height: 100vh;
    padding: 1.5rem;
    background: linear-gradient(to bottom, #ebf8ff, #e9d8fd);    color: #222;
  }


    .title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
      color: #2c5282;
    }

  .title-content{
    margin-bottom: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    height: 30vh;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .card-title {
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .card-description {
    color: #4a5568;
    margin-bottom: 1rem;
  }

  .card-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #3b82f6;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
  }

  .card-link:hover {
    background-color: #2563eb;
  }

